/*FONT FACES*/

@font-face {
     font-family: 'plavskybold';
     src: url('plavsky_bold_italic.woff2') format('woff2'),
          url('plavsky_bold_italic.woff') format('woff');
     font-weight: normal;
     font-style: normal;

}


@font-face {
     font-family: 'plavskyregular';
     src: url('plavsky.woff2') format('woff2'),
          url('plavsky.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'zolinasemibold';
     src: url('zolina-semibold.woff2') format('woff2'),
          url('zolina-semibold.woff') format('woff');
     font-weight: normal;
     font-style: normal;

}

/*top page*/



/*HEADER*/

h1#contact-us {
     width: 170px;
     height: 23px;
     border: 2px solid white;
     padding: 10px;
     margin: 10px 50px 20px;
     text-align: center;
     position: relative;
     left: 1530px;
     top: 40px;
     color: white;
     font-size: 16px;
     font-weight: normal;
     font-style: normal;
     font-family: 'plavskyregular';
     src: url('plavsky.woff2') format('woff2'),
          url('plavsky.woff') format('woff');

}

h1#heading-main {
     background: linear-gradient(#fd0021, #f90066, #5d1c3e);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     text-align: center;
     font-size: 50px;
     position: relative;
     top: -48px;
     left: 0px;
     font-weight: normal;
     font-style: normal;
     font-family: 'plavskyregular';
     letter-spacing: 1px;
     src: url('plavsky.woff2') format('woff2'),
          url('plavsky.woff') format('woff');
}


h1#top-art {
     color: white;
     text-align: center;
     font-size: 16px;
     position: relative;
     top: -120px;
     right: 800px;
     font-weight: normal;
     font-style: normal;
     font-family: 'plavskyregular';
     letter-spacing: 2px;
     src: url('plavsky.woff2') format('woff2'),
          url('plavsky.woff') format('woff');
}

h1#top-artist {
     color: white;
     text-align: center;
     font-size: 16px;
     position: relative;
     top: -150px;
     right: 630px;
     font-weight: normal;
     font-style: normal;
     font-family: 'plavskyregular';
     letter-spacing: 2px;
     src: url('plavsky.woff2') format('woff2'),
          url('plavsky.woff') format('woff');
}

h1#nft {
     color: white;
     text-align: center;
     font-size: 16px;
     position: relative;
     top: -180px;
     right: 465px;
     font-weight: normal;
     font-style: normal;
     font-family: 'plavskyregular';
     letter-spacing: 2px;
     src: url('plavsky.woff2') format('woff2'),
          url('plavsky.woff') format('woff');
}

/*BODY*/

h2#main-page-line-collect {
     color: white;
     font-family: 'zolinasemibold';
     src: url('zolina-semibold.woff2') format('woff2'),
          url('zolina-semibold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     margin-top: 10px;
     padding: -200px;
     position: absolute;
     left: 130px;
     font-size: 97px;
     background: linear-gradient(#909090, #fffcfc);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

h2#main-page-line-digitalart {
     color: white;
     font-family: 'zolinasemibold';
     src: url('zolina-semibold.woff2') format('woff2'),
          url('zolina-semibold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     margin-top: -40px;
     padding: -200px;
     font-size: 97px;
     position: absolute;
     left: 130px;
     top: 420px;
     background: linear-gradient(to right,#909090, #fffcfc);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

h2#main-page-line-fromus {
     color: white;
     font-family: 'zolinasemibold';
     src: url('zolina-semibold.woff2') format('woff2'),
          url('zolina-semibold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     margin-top: -20px;
     padding: -200px;
     position: absolute;
     left: 130px;
     top: 513px;
     font-size: 97px;
     background: linear-gradient(#909090, #fffcfc);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

p#create-button {
     color: white;
     margin-top: 380px;
     margin-left: 400px; 
     font-weight: normal;
     font-size: 15px;
     font-style: normal;
     font-family: 'plavskyregular';
     letter-spacing: 2px;
     src: url('plavsky.woff2') format('woff2'),
          url('plavsky.woff') format('woff');
}


img.gradient-bg{
     position: relative; left: 1100px; bottom: 300px;
     height: 810px;

}


img.prime-ape {
     height: 1100px;
     position: relative; left: 355px; bottom: 600px;
     margin-left: 635px;
     margin-top: -800px;
     transform: scaleX(-1);
}